<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ABCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D4035C651BB5F0EF00CA7AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4035C7E1BB5F0EF00CA7AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4035C891BB5F0EF00CA7AAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
